{
    "extends": "airbnb-base",

    "rules": {
        "func-names": 0, // require function expressions to have a name (off by default)
        "global-require":"off",
        "no-unused-vars": ["error", { "args": "none" }]
    }
}
